In [2]:
from pyspark.sql import SparkSession

In [3]:

# Create a SparkSession object with the specified configurations and properties
spark_session = (
    SparkSession.builder
    .master("local[*]")  # Specifies to run Spark locally using all available cores
    .config('spark.jars.packages',"mysql:mysql-connector-java:8.0.11")  # Specifies the MySQL JDBC connector version to use
    .appName("MYSQL-QUERY")  # Specifies the application name (you can choose any name you like)
    .getOrCreate()  # Gets an existing SparkSession or creates a new one if it doesn't exist
)

:: loading settings :: url = jar:file:/usr/local/lib/python3.8/dist-packages/pyspark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
mysql#mysql-connector-java added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-f841a2c1-fa97-4bbf-b4b5-ae3eff5db5ff;1.0
	confs: [default]
	found mysql#mysql-connector-java;8.0.11 in central
	found com.google.protobuf#protobuf-java;2.6.0 in central
downloading https://repo1.maven.org/maven2/mysql/mysql-connector-java/8.0.11/mysql-connector-java-8.0.11.jar ...
	[SUCCESSFUL ] mysql#mysql-connector-java;8.0.11!mysql-connector-java.jar (1291ms)
downloading https://repo1.maven.org/maven2/com/google/protobuf/protobuf-java/2.6.0/protobuf-java-2.6.0.jar ...
	[SUCCESSFUL ] com.google.protobuf#protobuf-java;2.6.0!protobuf-java.jar(bundle) (521ms)
:: resolution report :: resolve 13335ms :: artifacts dl 1977ms
	:: modules in use:
	com.google.protobuf#protobuf-java;2.6.0 from central in [default]
	mysql#mysql-connector-java;8.0.11 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   2   |   2   |   2   |   0   ||   2   |   2   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-f841a2c1-fa97-4bbf-b4b5-ae3eff5db5ff
	confs: [default]
	2 artifacts copied, 0 already retrieved (2571kB/100ms)
23/08/01 20:39:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [7]:
spark_session

In [8]:
MYSQL_URI="jdbc:mysql://mysql:3306/classicmodels?useSSL=false"
MYSQL_USER_NAME="root"
MYSQL_PASSWORD="example"

In [9]:
query = "select * from customers limit 10"

In [11]:
df = spark_session.read.format("jdbc").options(
            url=MYSQL_URI,
            driver='com.mysql.jdbc.Driver',
            query=query,
            user=MYSQL_USER_NAME,
            password=MYSQL_PASSWORD).load()

In [12]:

df.printSchema()

root
 |-- customerNumber: integer (nullable = true)
 |-- customerName: string (nullable = true)
 |-- contactLastName: string (nullable = true)
 |-- contactFirstName: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- addressLine1: string (nullable = true)
 |-- addressLine2: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postalCode: string (nullable = true)
 |-- country: string (nullable = true)
 |-- salesRepEmployeeNumber: integer (nullable = true)
 |-- creditLimit: decimal(10,2) (nullable = true)

In [13]:
df.show(10)

+--------------+--------------------+---------------+----------------+-----------------+--------------------+------------+-------------+--------+----------+---------+----------------------+-----------+
|customerNumber|        customerName|contactLastName|contactFirstName|            phone|        addressLine1|addressLine2|         city|   state|postalCode|  country|salesRepEmployeeNumber|creditLimit|
+--------------+--------------------+---------------+----------------+-----------------+--------------------+------------+-------------+--------+----------+---------+----------------------+-----------+
|           103|   Atelier graphique|        Schmitt|         Carine |       40.32.2555|      54, rue Royale|        null|       Nantes|    null|     44000|   France|                  1370|   21000.00|
|           112|  Signal Gift Stores|           King|            Jean|       7025551838|     8489 Strong St.|        null|    Las Vegas|      NV|     83030|      USA|                  1166|   71800.00|
|           114|Australian Collec...|       Ferguson|           Peter|     03 9520 4555|   636 St Kilda Road|     Level 3|    Melbourne|Victoria|      3004|Australia|                  1611|  117300.00|
|           119|   La Rochelle Gifts|        Labrune|         Janine |       40.67.8555|67, rue des Cinqu...|        null|       Nantes|    null|     44000|   France|                  1370|  118200.00|
|           121|  Baane Mini Imports|     Bergulfsen|          Jonas |       07-98 9555|Erling Skakkes ga...|        null|      Stavern|    null|      4110|   Norway|                  1504|   81700.00|
|           124|Mini Gifts Distri...|         Nelson|           Susan|       4155551450|     5677 Strong St.|        null|   San Rafael|      CA|     97562|      USA|                  1165|  210500.00|
|           125|  Havel & Zbyszek Co|Piestrzeniewicz|        Zbyszek |    (26) 642-7555|     ul. Filtrowa 68|        null|     Warszawa|    null|    01-012|   Poland|                  null|       0.00|
|           128|Blauer See Auto, Co.|         Keitel|          Roland|+49 69 66 90 2555|       Lyonerstr. 34|        null|    Frankfurt|    null|     60528|  Germany|                  1504|   59700.00|
|           129|     Mini Wheels Co.|         Murphy|           Julie|       6505555787|5557 North Pendal...|        null|San Francisco|      CA|     94217|      USA|                  1165|   64600.00|
|           131|   Land of Toys Inc.|            Lee|            Kwai|       2125557818|897 Long Airport ...|        null|          NYC|      NY|     10022|      USA|                  1323|  114900.00|
+--------------+--------------------+---------------+----------------+-----------------+--------------------+------------+-------------+--------+----------+---------+----------------------+-----------+

In [14]:
df.columns

['customerNumber',
 'customerName',
 'contactLastName',
 'contactFirstName',
 'phone',
 'addressLine1',
 'addressLine2',
 'city',
 'state',
 'postalCode',
 'country',
 'salesRepEmployeeNumber',
 'creditLimit']

In [18]:
df.select(['customerNumber',
 'customerName',
 'contactLastName',
 'contactFirstName',
 'phone']).show(5)

+--------------+--------------------+---------------+----------------+------------+
|customerNumber|        customerName|contactLastName|contactFirstName|       phone|
+--------------+--------------------+---------------+----------------+------------+
|           103|   Atelier graphique|        Schmitt|         Carine |  40.32.2555|
|           112|  Signal Gift Stores|           King|            Jean|  7025551838|
|           114|Australian Collec...|       Ferguson|           Peter|03 9520 4555|
|           119|   La Rochelle Gifts|        Labrune|         Janine |  40.67.8555|
|           121|  Baane Mini Imports|     Bergulfsen|          Jonas |  07-98 9555|
+--------------+--------------------+---------------+----------------+------------+
only showing top 5 rows

In [20]:
df.show(1)

+--------------+-----------------+---------------+----------------+----------+--------------+------------+------+-----+----------+-------+----------------------+-----------+
|customerNumber|     customerName|contactLastName|contactFirstName|     phone|  addressLine1|addressLine2|  city|state|postalCode|country|salesRepEmployeeNumber|creditLimit|
+--------------+-----------------+---------------+----------------+----------+--------------+------------+------+-----+----------+-------+----------------------+-----------+
|           103|Atelier graphique|        Schmitt|         Carine |40.32.2555|54, rue Royale|        null|Nantes| null|     44000| France|                  1370|   21000.00|
+--------------+-----------------+---------------+----------------+----------+--------------+------------+------+-----+----------+-------+----------------------+-----------+
only showing top 1 row

In [22]:
df.selectExpr("to_json(struct(*))").show(truncate=False)

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|to_json(struct(customerNumber, customerName, contactLastName, contactFirstName, phone, addressLine1, addressLine2, city, state, postalCode, country, salesRepEmployeeNumber, creditLimit))                                                                                                                                                         |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{"customerNumber":103,"customerName":"Atelier graphique","contactLastName":"Schmitt","contactFirstName":"Carine ","phone":"40.32.2555","addressLine1":"54, rue Royale","city":"Nantes","postalCode":"44000","country":"France","salesRepEmployeeNumber":1370,"creditLimit":21000.00}                                                               |
|{"customerNumber":112,"customerName":"Signal Gift Stores","contactLastName":"King","contactFirstName":"Jean","phone":"7025551838","addressLine1":"8489 Strong St.","city":"Las Vegas","state":"NV","postalCode":"83030","country":"USA","salesRepEmployeeNumber":1166,"creditLimit":71800.00}                                                      |
|{"customerNumber":114,"customerName":"Australian Collectors, Co.","contactLastName":"Ferguson","contactFirstName":"Peter","phone":"03 9520 4555","addressLine1":"636 St Kilda Road","addressLine2":"Level 3","city":"Melbourne","state":"Victoria","postalCode":"3004","country":"Australia","salesRepEmployeeNumber":1611,"creditLimit":117300.00}|
|{"customerNumber":119,"customerName":"La Rochelle Gifts","contactLastName":"Labrune","contactFirstName":"Janine ","phone":"40.67.8555","addressLine1":"67, rue des Cinquante Otages","city":"Nantes","postalCode":"44000","country":"France","salesRepEmployeeNumber":1370,"creditLimit":118200.00}                                                |
|{"customerNumber":121,"customerName":"Baane Mini Imports","contactLastName":"Bergulfsen","contactFirstName":"Jonas ","phone":"07-98 9555","addressLine1":"Erling Skakkes gate 78","city":"Stavern","postalCode":"4110","country":"Norway","salesRepEmployeeNumber":1504,"creditLimit":81700.00}                                                    |
|{"customerNumber":124,"customerName":"Mini Gifts Distributors Ltd.","contactLastName":"Nelson","contactFirstName":"Susan","phone":"4155551450","addressLine1":"5677 Strong St.","city":"San Rafael","state":"CA","postalCode":"97562","country":"USA","salesRepEmployeeNumber":1165,"creditLimit":210500.00}                                       |
|{"customerNumber":125,"customerName":"Havel & Zbyszek Co","contactLastName":"Piestrzeniewicz","contactFirstName":"Zbyszek ","phone":"(26) 642-7555","addressLine1":"ul. Filtrowa 68","city":"Warszawa","postalCode":"01-012","country":"Poland","creditLimit":0.00}                                                                                |
|{"customerNumber":128,"customerName":"Blauer See Auto, Co.","contactLastName":"Keitel","contactFirstName":"Roland","phone":"+49 69 66 90 2555","addressLine1":"Lyonerstr. 34","city":"Frankfurt","postalCode":"60528","country":"Germany","salesRepEmployeeNumber":1504,"creditLimit":59700.00}                                                    |
|{"customerNumber":129,"customerName":"Mini Wheels Co.","contactLastName":"Murphy","contactFirstName":"Julie","phone":"6505555787","addressLine1":"5557 North Pendale Street","city":"San Francisco","state":"CA","postalCode":"94217","country":"USA","salesRepEmployeeNumber":1165,"creditLimit":64600.00}                                        |
|{"customerNumber":131,"customerName":"Land of Toys Inc.","contactLastName":"Lee","contactFirstName":"Kwai","phone":"2125557818","addressLine1":"897 Long Airport Avenue","city":"NYC","state":"NY","postalCode":"10022","country":"USA","salesRepEmployeeNumber":1323,"creditLimit":114900.00}                                                     |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [39]:
from src.config.environment import EnvironmentVariable

In [ ]:
env = EnvironmentVariable()

In [32]:
from collections import namedtuple

In [33]:
data = namedtuple("Data",["id","name"])

In [35]:
d = data(id=1,name="yash")

In [36]:
d.name

'yash'

In [37]:
env.kafka_cloud.bootstrap_server

NameError: name 'env' is not defined